<!DOCTYPE html>
<html>
<head>
  <title>Calaboose</title>
  <%= stylesheet_link_tag    "calaboose/application", media: "all" %>
  <%= javascript_include_tag "calaboose/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
